{* This is the welcome page, you can delete it *}

{block content}
<div id="banner">
	<h1 n:block=title>Account presenter!</h1>
</div>

<div id="content">

	Tady jsi přihlášený
	<a n:href="Homepage:">Homepage</a>


	{if $user->isLoggedIn()}
		{if $user->isAllowed('account', 'edit')}
		Máš právo spravovat admin
		{/if}

	{/if}
</div>
