{* include ROOT_DIR . '/vendor/tomashruby/rockette/src/UI/DevModule/templates/Dashboard/default.latte' *}

{* This is the welcome page, you can delete it *}
{block content}
<div id="banner">
    <h1 n:block=title>Violaa Dev Rockette is here!</h1>
</div>

<div id="content">
    Aha

    <a href="file:\\C:\Program Files\JetBrains\PhpStorm 2020.2.2\bin\phpstorm64.exe">PHP Storm</a>


</div>

<style>
    html { font: normal 18px/1.3 Georgia, "New York CE", utopia, serif; color: #666; -webkit-text-stroke: 1px rgba(0,0,0,0); overflow-y: scroll; }
    body { background: #e7d6b6; color: #333; margin: 0; padding: 1em; }

    a { color: #006aeb; padding: 3px 1px; }
    a:hover, a:active, a:focus { background-color: #006aeb; text-decoration: none; color: white; }

    #banner { background-color: #333333; }

    h1 { font: inherit; color: white; font-size: 50px; line-height: 121px; margin: 0; padding-left: 4%; text-shadow: 1px 1px 0 rgba(0, 0, 0, .9); }
    @media (max-width: 600px) {
        h1 { background: none; font-size: 40px; }
    }

    #content { background: white; border: 1px solid #eff4f7; padding: 10px 4%; overflow: hidden; }

    h2 { font: inherit; padding: 1.2em 0; margin: 0; }

    img { border: none; float: right; margin: 0 0 1em 3em; }
</style>
